.vscode
.vscode/**
axl
axl/**
local_nodes/*.json
local_nodes/*.pem
local_nodes/**
.DS_Store
*.pyc
axl-logs
axl-logs/**
/models
/models/**
datasets
datasets/**
__pycache__
__pycache__/**
logs
logs/**
/ir3de_stats/*
!/ir3de_stats/default_stats.yml
!/ir3de_stats/Meta-Llama-3-8B_gsm8k_mergebench.pth
!/ir3de_stats/Meta-Llama-3-8B_humaneval_mergebench.pth
test_**